:root {
    --text-color: black;
    --primary-color: orange;
    --secondary-color: yellow;
    --success-color: green;
    --failure-color: tomato;
    --warning-color: gold;
    --background-color: darkgrey;
}
.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
}
.navblock {
    /*display: inline-block;*/
    float: left;
    max-width: 30;
    margin: 0;
    padding: 1rem;
    border-radius: .5rem;
}
.navblock:hover {
    background-color: var(--primary-color);
    box-shadow: 0px 5px 10px 6px hsla(0, 40%, 20%, .2), 0px 0px 3px 1px hsla(200, 80%, 90%, 1);
    transition: .4s;
}
.active {
    background-color: var(--primary-color);
}
ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
li {
    margin: 0;
    padding: 0;
    border: 0;
}
li a {
    display: block;
    padding: .5rem 1rem .5rem 1rem;
    text-decoration: none;
    color: var(--textcolor);
    /*min-width: 5rem;
    justify-content: center;*/
}
