<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        <title>{% block title %}{% if title %}{{title}} - {% endif %}{% endblock title %}Notator</title>
        {% endblock head %}
    </head>
    <body>
        <div>{% block navbar %}
            <nav class="navbar">
                <a class=navblock href="/">Home</a>
                <a class=navblock href="/note/new">Create a new note</a>
                <a class=navblock href="/calculator">calculator</a>
            </nav>
            <br />
            {% endblock navbar %}
        </div>
        {% block Title %} 
        <h1>{{title}}</h1>
        {% endblock Title %}
        <div id="content">{% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
