<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="/style/style.css" />
        <title>{% block title %}{% if title %}{{title}} - {% endif %}{% endblock title %}Notator</title>
        {% endblock head %}
    </head>
    <body>
        <div id="navbar">{% block navbar %}
            <ul>
                <li class="navblock"><a href="/">Home</a></li>
                <li class="navblock"><a href="/template">Template</a></li>
                <li class="navblock"><a href="/response">Teapot</a></li>
            </ul>
            <br />
            {% endblock navbar %}</div>
        <div id="content">{% block content %}
            {% block Title %} 
            <h1>Free Rocket Try #1</h1>
            {% endblock Title %}</div>
        <p>Insert coin to start!</p>
        {% block user_loop %}
        <ul>
            {% if users %}
                {% for user in users %}
                <li style="color:red">{{user}}</li>
                {% endfor %}
            {% endif %}
        </ul>
        {% endblock user_loop %}</div>
        {% endblock content %}</div>
    </body>
</html>
