<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="style.css" />
        <title>{% block title %}{% endblock title %} - My Webpage</title>
        {% endblock head %}
    </head>
    <body>
        <div id="content">{% block content %}
            {% block Title %}
            <h1>Free Rocket Try #1</h1>
            {% endblock Title %}</div>
        <p>Insert coin to start!</p>
        {% block user_loop %}
        <ul>
            {% for user in users %}
            <li style="color:red">{{user}}</li>
            {% endfor %}
        </ul>
        {% endblock user_loop %}</div>
        {% endblock content %}</div>
    </body>
</html>
